#navbar{
    .navbar{
      display: flex;
      
     
    
    

      .nav-right-part{
        display: flex;
        justify-content: end;
        margin-top: 20px;
        
        
    }
    .logo{
font-size: 20px;
        span{
            color: orange;
            
    
        }
    }
 
  
      ul{
        display: flex;
        list-style: none;
        gap: 30px;
       
       
      
        li{
          display: flex;

       
        }
        li:hover{
            border-bottom: 2px solid orange;
        }
        
        a{
            text-decoration: none;
           
            
            
           
        }
        
      }
      
    }
}
#main{

   
    .image{
        
        
        height: 600px;
  background-image: url(../image/hero-carousel-3.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;    
 

button{
background-color: transparent;
width: 140px;
height: 40px;
border-radius: 20px;
color: white;
border-color:orange ;

}
    }
    .text{
      box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      text-align: center;
      
      .underline{
        height: 5px;
        width: 10%;
        background-color: orange;
        margin: 10px 0px;
      }
      
    }
    .constractions{
      text-align: center;
      margin-top: 100px;
   
 
    .card {
   
     width: 180%;
     height: 300px;
      display: inline-block;
      margin-top: 70px;
      .picture{
      
        width: 120%;
        background-size: cover;
        height: 299px;
   
   
       
      }
   
  
      .card-body{
        box-sizing: border-box;
        padding: 49px;
        text-align: start;
     
      }

     
    }
    .body1{
      display: flex;
      justify-content: space-between;
      margin-right: 200px;
  
   
    }
    .body2{
      display: flex;
      justify-content: space-between;
      margin-right: 200px;
  
   
    }
    
   
    }
    .projects{
      .text{
        text-align: center;
        margin-top: 100px;
      }
      .items{
   transition: 1s;
        ul{
          list-style: none;
          display: flex;
          justify-content: center;
          gap: 40px;
          margin-top: 40px;
          
          a{
            text-decoration: none;
            color: black;
          
          }
        
        }
      
        
      }
      .items:hover{
        color: orange;
        transition: 1s;
      }
     
  
    }
   
}
